/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #003153,
  "secondary": #f5a201,
  "dark": #000000,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #813588,
  "danger": #dc3545,
  "light": #ffffff,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #003153;
$secondary-color: #f5a201;
$white-color: white;
$black-color: #000;
$tertiary-color: #813588;

#top-header {
  a {
    text-decoration: none;
    color: $white-color;
    font-size: 14px;

    &:hover {
      color: $secondary-color;
    }
  }

  .dropdown-menu {
    background-color: $primary-color;
    color: $white-color;
    z-index: 1080;
    .dropdown-item {
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .fa-angle-right {
    float: right;
  }
  .sub-menu-2 {
    display: none;
  }
  .hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: $primary-color;
    text-decoration: none;
    float: right;
  }
}
